annotated-types==0.7.0
black==25.9.0
-e git+https://github.com/urv-teacher/bmde@67c5aeecb32b4bbc44b244a3cff4840dc61b5d80#egg=bmde
cfgv==3.4.0
click==8.3.0
distlib==0.4.0
filelock==3.20.0
identify==2.6.15
iniconfig==2.3.0
markdown-it-py==4.0.0
mdurl==0.1.2
mypy==1.18.2
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
pre_commit==4.3.0
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.19.2
pytest==8.4.2
python-dotenv==1.1.1
pytokens==0.2.0
PyYAML==6.0.3
rich==14.2.0
ruff==0.14.2
shellingham==1.5.4
-e git+https://github.com/URV-teacher/tot@1a334aef03183d14e1b4f38921384fdccf01f241#egg=tot
typer==0.20.1
typing-inspection==0.4.2
typing_extensions==4.15.0
virtualenv==20.35.3
