name: Automated testing with PyTest

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

permissions:
  contents: read

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12' # Matches your dev environment
          cache: 'pip' # Speeds up future runs

      - name: Install Dependencies
        run: make dev

      - name: Run Tests
        run: make test